.navbar {
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    display: flex;
}

.navbar ul li {
    margin-right: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
}

.navbar ul li a:hover {
    color: #666;
}